@using System.Data;
@model UMS.Areas.Branch.Models.BranchModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="pagetitle">
    
    <h1>Branch Add-Edit</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"><a asp-controller="Branch" asp-action="BranchAddEdit">Branch Add-Edit</a></li>
        </ol>
    </nav>
</div>
<form method="post" asp-controller="Branch" asp-action="BranchSave">
    <input type="hidden" asp-for="BranchID"/>
    <div class="mb-3">
        <label class="form-label">Branch Name</label>
        <input type="text" class="form-control" asp-for="BranchName">
        <span asp-validation-for="BranchName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Dean Name</label>
        <input type="text" class="form-control" asp-for="DeanName">
        <span asp-validation-for="DeanName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Course Name</label>
        <select id="inputState" class="form-control" asp-for="CourseID"
                asp-items="@(new SelectList(ViewBag.Courselists,"CourseID","CourseName"))" required>

            <option disabled selected>Select Course</option>
        </select>

        <span asp-validation-for="CourseID" class="text-danger"></span>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}