@using System.Data;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    @foreach (DataRow dataRow in Model.Rows)
    {

    <div class="col-xxl-4 col-md-6">
            <a asp-area=@dataRow["Area"] asp-controller=@dataRow["Controller"] asp-action=@dataRow["Action"]>
        <div class="card info-card sales-card">
            <div class="card-body">
                    <h5 class="card-title">@dataRow["ColName"]</h5>

                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                         <i class="@dataRow["Icon"]"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@dataRow["CountValue"]</h6>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
    }
</div>