@using System.Data;
@model UMS.Areas.Student.Models.Studentmodel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-controller="Student" asp-action="StudentSave">
        @* @Html.HiddenFor(x=>x.StudentID) *@ 
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
        <span class="form-text" asp-validation-for="FirstName"> </span>
    </div>

    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
        <span class="form-text" asp-validation-for="LastName"> </span>
    </div>

    <div class="mb-3">
        <label class="form-label">Gender</label>
        <input type="text" class="form-control" asp-for="Gender">
        <span class="form-text" asp-validation-for="Gender"> </span>
    </div>

    <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Enrollment Number</label>
        <input type="text" class="form-control" asp-for="EnrollmentNo" />
        <span asp-validation-for="EnrollmentNo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">BirthDate</label>
        <input type="date" id="datepicker" class="form-control" asp-for="DOB" />
        <span asp-validation-for="DOB" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Course Name</label>
        <select id="inputState" class="form-control" asp-for="CourseID"
                asp-items="@(new SelectList(ViewBag.Courselists,"CourseID","CourseName"))">

            <option disabled selected>Select Course</option>
        </select>

        <span asp-validation-for="CourseID" class="text-danger"></span>

    </div>

      <div class="mb-3">
        <label class="form-label">Branch Name</label>
        <select id="inputState" class="form-control" asp-for="BranchID"
                asp-items="@(new SelectList(ViewBag.Branchlists,"BranchID","BranchName"))">

            <option disabled selected>Select Branch</option>
        </select>

        <span asp-validation-for="BranchID" class="text-danger"></span>

    </div>  

    <button type="submit" class="btn btn-primary">Submit</button>
</form>